@charset "utf-8";
/* css document */

/* home header */

.homeheader {
  background-image:url(../images/header-bg.jpg);
  background-size: cover;
  display:flex;
  justify-content:space-between;
  padding:0 100px;
  position:sticky;
  background-color: transparent;
}

.homesection {
  background-image:url(../images/header-bg.jpg);
  background-size: cover;
  background-position: center;
  min-height:500px;
  padding-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.heading h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-top: 20px;
}

/* contact main */

.contactmain {
  background-color: #212529;
  background-image:url(../images/map-image.png);
  background-size: cover;
  background-position: center;
  display:flex;
  flex-wrap: wrap;
  width: 92.25%;
}

/* portfolio div */

.project {
  background-color: white;
  max-height: 310px;
  max-width: 300px;
  display: block;
  margin: 10px;
  padding: 0;
}

.project img {
  display: block;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
}

.project p {
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
  margin-top: -33px;
}

.project h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-top: 20px;
}

/* team div */

.team {
  align-items: center;
  justify-content: center;
  display: block;
  width: 80%;
}

.team img {
  display: block;
  height: auto;
  margin: 0 auto;
}

.team p {
  margin-top: -30px;
}

.team h5 {
  margin-top: 20px;
}

.portrait {
  width: 200px;
  border-radius: 50%;
  border: 7px solid #DFE0E1;
  height: auto;
}

/* timeline div */

.about {
  margin: 100px;
  max-width: 100%;
}

.timeline {
  display: flex;
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
}

.timeline img {
  width: 150px;
  border-radius: 50%;
  border: 7px solid #DFE0E1;
  height: auto;
}

.timeline div {
  width: 300px;
  padding: 10px 20px 100px 20px;
  margin-right: 50px;
}

.timeline div:nth-child(1){
  border-right-style: solid;
  border-right-color: #DFE0E1;
  border-right-width: 2px;
  padding-right: 130px;
  width: 320px;
  max-width: 100%;
}

.overlap {
  position: relative;
  left: -152px;
  top: -10px;
}

/* timeline circle div */

.circle {
  height: 150px;
  width: 150px;
  background-color: #fed136;
  border-radius: 50%;
  display: inline-block;
  border: 7px solid #DFE0E1;
  margin-top: 10px;
  margin-left: 628px;
}

.circle p {
  width: 100px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size:24px;
  margin-top: 37px;
  margin-left: 25px;
  line-height: 1.2;
}

/* html & body */

html {
  background-color: #f8f9fa;
}

body {
  background-color: #f8f9fa;
}

/* header */

header {
  background-color: #212529;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  padding:0 100px;
  position:sticky;
  max-width: 100%;
}

header nav ul {
  display:flex;
  justify-content:space-between;
  list-style-type:none;
}

header nav a {
  text-decoration:none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color:white;
  font-size:14px;
  display:block;
  padding:20px 20px;
}

/* button */

button {
  background-color:#fed136;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color:white;
  font-size:12px;
  text-transform: uppercase;
  border:none;
  border-radius: 5px;
  padding:15px 30px 15px 30px;
  display:block;
  margin: auto;
}

/* text */

h1 {
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size:22px;
  color: #fed136;
  margin-top:30px;
}

h2 {
  text-transform:uppercase;
  text-align: center;
  font-family: 'Montesserat', sans-serif;
  font-weight: 600;
  font-size:48px;
  color: white;
  margin-top:30px;
}

h3 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size:22px;
  font-style: italic;
  color: white;
  margin-top:30px;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montesserat', sans-serif;
  font-weight: 600;
  font-size:28px;
  color: black;
  margin: auto;
}

h5 {
  text-align: center;
  font-family: 'Montesserat', sans-serif;
  font-weight: 600;
  font-size:20px;
  color: #212529;
}

p {
  text-align: center;
  font-family: 'Roboto Slab';
  font-weight: 600;
  font-size:12px;
  line-height: 1.7;
  color: slategray;
  padding: 0px 0px 10px 0px;
}

/* main */

main {
  max-width: 100%;
  width: 80%;
  padding: 50px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main div {
  flex: 1;
  padding: 20px;
  justify-content: center;
}

main h2 {
  width: 100%;
}

main h3 {
  width: 100%;
}

main h4 {
  width: 100%;
}

main p {
    width: 100%;
}

main img {
  display: block;
  margin: 0 auto;
}

/* form */

form {
  display: flex;
  flex-wrap: wrap;
  width:70%;
  margin:0 auto;
  text-align: center;
}

input {
  font-size: 16px;
  font-family: 'Montesserat', sans-serif;
  font-weight: 400;
  padding: 20px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin: 0 auto;
}

input[type="longtext"] {
  font-size: 16px;
  font-family: 'Montesserat', sans-serif;
  font-weight: 400;
  padding: 20px 20px 185px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-left: 20px;
}

/* footer */

footer {
  background-color:white;
  padding:10px;
  border-top-style: solid;
  border-color: #212529;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:0 50px;
  max-width: 100%;
}

footer p {
  font-family: 'Montesserat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color:slategray;
  padding:20px 0px 15px 0px;
}

footer ul {
  padding:10px 0px 10px 0px;
  list-style-type:none;
  display:flex;
}

footer ul a {
  font-family: 'Montesserat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color:#fed136;
  text-decoration:none;
  padding:0 15px;
}

footer img {
  display: block;
  max-width: 144px;
  height: auto;
  margin: auto;
}

/* responsive */

@media screen and (max-width: 680px) {


  header {
    flex-direction: column;
  }
  section {
    justify-content: center;
  }
  section div{
    flex: .4;
  }
  main{
    flex-direction: column;
  }
