@charset "utf-8";
/* css document */

.homeheader {
  background-image:url(../images/header-bg.jpg);
  background-size: cover;
  display:flex;
  justify-content:space-between;
  padding:0 100px;
  position:sticky;
  background-color: transparent;
}

.homesection{
  background-image:url(../images/header-bg.jpg);
  background-size: cover;
  background-position: center;
  min-height:500px;
  padding-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

/*.columns {
  background-color: #f8f9fa;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
  padding: 20px;
}

.homeimg {
  max-width: 680px;
  max-height: auto;
  display: block;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.homeimg img {
  display: block;
  max-width: 144px;
  height: auto;
  margin: 0 auto;
}*/

.pcolumns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  background-color: white;
  max-width: 250px;
  max-height: 270px;
  display: block;
  width: 100%;
  margin: 10px;
  padding: 0;
}

.project img {
  display: block;
  max-width: 250px;
  height: auto;
  margin: 0 auto;
}

.project p {
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
  margin-top: -33px;
}

.project h5 {
  margin-top: 20px;
}






.team {
  align-items: center;
  justify-content: center;
  display: block;
  width: 80%;
}

.team img {
  display: block;
  height: auto;
  margin: 0 auto;
}

.team p {
  margin-top: -30px;
}

.team h5 {
  margin-top: 20px;
}

.portrait {
  width: 200px;
  border-radius: 50%;
  border: 7px solid #DFE0E1;
  height: auto;
}

.teamdesc {
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}



.timeline {
  width: 150px;
  border-radius: 50%;
  border: 7px solid #DFE0E1;
  height: auto;
  margin: 20px 40px 20px 40px;
}

.timeline:after {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  border: 1px solid black;
  top: 0;
  left: 10px;
}

.aboutus {
  justify-content: center;
  padding: 30px;
}

.acolumn {
  float: left;
  width: 250px;
  padding: 20px;
  margin: 0 auto;
  justify-content: center;
}

.acolumn p {
  font-family: 'Roboto Slab';
  font-weight: 600;
  font-size:14px;
  margin-top: -20px;
}

.acolumn h5 {
  margin-top: -20px;
}

.about:after {
  justify-content: center;
  content: "";
  display: table;
  clear: both;
}

.circle {
  height: 130px;
  width: 130px;
  background-color: #fed136;
  border-radius: 50%;
  display: inline-block;
  border: 7px solid #DFE0E1;
  margin: 20px 40px 20px 40px;
}

.circle p {
  width: 100px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size:24px;
  margin-top: 30px;
  margin-left: 15px;
  line-height: 1.2;
}

html {
  background-color: #f8f9fa;
}

body {
  background-color: #f8f9fa;
}

header {
  background-color: black;
  display:flex;
  justify-content:space-between;
  padding:0 100px;
  position:sticky;
}

header nav ul {
  display:flex;
  justify-content:space-between;
}

header nav a {
  text-decoration:none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color:white;
  font-size:14px;
  display:block;
  padding:20px 20px;
}

button {
  background-color:#fed136;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color:white;
  font-size:12px;
  text-transform: uppercase;
  border:none;
  border-radius: 5px;
  padding:15px 30px 15px 30px;
  display:block;
  margin: auto;
}






h1 {
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size:22px;
  color: #fed136;
  margin-top:30px;
}

h2 {
  text-transform:uppercase;
  text-align: center;
  font-family: 'Montesserat', sans-serif;
  font-weight: 600;
  font-size:48px;
  color: white;
  margin-top:30px;
}

h3 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size:22px;
  font-style: italic;
  color: white;
  margin-top:30px;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montesserat', sans-serif;
  font-weight: 600;
  font-size:28px;
  color: black;
  margin: auto;
}

h5 {
  text-align: center;
  font-family: 'Montesserat', sans-serif;
  font-weight: 600;
  font-size:20px;
  color: #212529;
}





/* main */

main {
  max-width: 960px;/*relative*/
  width: 90%;/*absolute*/
  padding: 50px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

main div {
  flex: 1;
  padding: 20px;
  justify-content: center;
}

main h4 {
  width: 100%;
}

main p {
    width: 100%;
}

main img {
  display: block;
  margin: 0 auto;
}

p {
  text-align: center;
  font-family: 'Roboto Slab';
  font-weight: 600;
  font-size:12px;
  line-height: 1.7;
  color: slategray;
  padding: 0px 0px 10px 0px;
}

/* footer */

footer {
  background-color:white;
  padding:10px;
  border-top-style: solid;
  border-color: black;
  display: flex;
  justify-content: space-between;
  padding:0 100px;
}

footer p {
  font-family: 'Montesserat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color:slategray;
  padding:20px 0px 15px 0px;
}

footer ul {
  padding:10px 0px 10px 0px;
  list-style-type:none;
  display:flex;
}

footer ul a {
  font-family: 'Montesserat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color:#fed136;
  text-decoration:none;
  padding:0 15px;
}

footer img {
  display: block;
  max-width: 144px;
  height: auto;
  margin: auto;
}

/* responsive */

@media screen and (max-width: 680px) {


  header {
    flex-direction: column;
  }
  section {
    justify-content: center;
  }
  section div{
    flex: .4;
  }
  main{
    flex-direction: column;
  }









